<% provide(:title, "O nas") %>
<h1>O nas</h1>
<p>
   <div class="help">
   <i> O eLook:</i>
      
    </div>
    </br>
    <div class="naglowki">
      
    eLook pomaga błyskawicznie formułować pomysły i informacje oraz udostępniać je innym, bez żadnych barier.
  
    </div>
    </br>
 <div class="help">
  <i>Pierwsze kroki:</i>
    
  </div>
  </br>
  <div class="naglowki">
      
   eLook to najlepszy sposób, aby łączyć się z ludźmi, wyrażać siebie i sprawdzać, co dzieje się na świecie.
  
    </div>

</p>