<% provide(:title, 'Kontakt') %>
<h1>Kontakt</h1>
<p>
  <div class="naglowek">
  </br><i> Imię i nazwisko: Piotr Kacprowicz</i></br>
   <i> Adres email: pkacprowicz@sigma.ug.edy.pl</i></br>
   <i> Indeks: 215543</i>
      
    </div>
    
   
</p>