<% provide(:title, "Pomoc") %>
<h1>Pomoc</h1>
<p>
  <div class="help">
   eLook — często zadawane pytania (FAQ)
    
  </div>
  </br>
  <div class="naglowki">
      
      <i>Moje konto zostało zawieszone. Jak to odwołać?</i>
  
    </div>
    </br>
    <div class="tekst">
      
    Konta są na ogół zawieszane na skutek naruszenia Zasad eLook.
    </div>
    </br>
    <div class="naglowki">
      
     <i> Nie mogę zalogować się na konto. Co robić?</i>
  
    </div>
    </br>
     <div class="tekst">
      
      Musisz przypomnieć sobie albo email albo hasło :)
    </div>
  
</p>